@import "../variables";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
}

.top_header {
  .th_ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    li {
      padding: 1em;
      font-size: 5%;
      text-decoration: none;
      font-size: 100%;
      display: flex;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.middle_header {
  display: flex;

  flex-wrap: wrap;
  height: 20%;
  justify-content: space-around;
  align-items: center;

  form {
    width: 60%;
    display: flex;
    height: 3em;

    input {
      width: 60%;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      border-color: $color1;
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    button {
      width: 5rem;
      background-color: $color2;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border-color: $color1;
      border-left: 0em;
    }
  }
}
.bottom_header {
  .bh_ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      font-size: 130%;
      a:hover {
        color: $color1;
      }
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

#hr2 {
  margin-bottom: 0;
}
