@import "../variables";

a {
  text-decoration: none;
}
.service {
  display: flex;
  margin: 40px;
}

.left-side-bar {
  width: 20%;
  display: flex;
  flex-direction: column;

  .title {
    font-size: $f1;
    margin-bottom: 60px;
  }

  .content {
    font-size: $f2;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;

    a {
      color: black;
      text-decoration: none;
      font-weight: 600;
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid black;
    }

    a:hover {
      color: $theme-color;
    }
  }
}

.service-content {
  width: 80%;
  height: 1000px;
  margin-left: $p1;

  .title {
    font-size: $f1;
    justify-content: center;
  }

  .table {
    margin-top: $p1;
    font-size: $f2;

    th,
    tr {
      text-align: center;
    }

    tbody {
      tr:hover {
        color: $theme-color;
      }
    }

    .content-title {
      text-align: left;
    }
  }
}
