<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/component/footer.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    />
    <script
      src="https://kit.fontawesome.com/4f20dc6699.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <footer class="container-fluid" th:fragment="footer">
      <hr />
      <div class="container">
        <nav class="top_footer">
          <ul class="tf_ul">
            <li><a href="#">소개</a></li>
            <li><a href="#">소개영상</a></li>
            <li><a href="#">인재채용</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">이용안내</a></li>
          </ul>
        </nav>
        <div class="middle_footer">
          <ul class="mf_ul">
            <li>법인명:주식회사 푸디</li>
            <li>사업자등록번호:223-22-43822</li>
            <li>주소:부산광역시 금정구</li>
            <li>고객센터:051)394-2384</li>
          </ul>
        </div>
        <div class="bottom_footer">
          <div class="icon">
            <i class="fa-brands fa-instagram icon1 fa-2x"></i>
            <i class="fa-brands fa-facebook icon2 fa-2x"></i>
            <i class="fa-brands fa-youtube icon3 fa-2x"></i>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
