@import "../variables";

.login_form {
  margin-top: $margin-top;
  legend {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      margin-bottom: 1rem;
      width: 20rem;
      height: 2.5rem;
      border-radius: 0.3rem;
      border-color: gray;
      border-width: 0.09rem;
    }
    button {
      margin-bottom: 1rem;
      width: 20rem;
      color: white;
      background-color: $color2;
      height: 2.5rem;
      border-radius: 0.5rem;
      border-color: $color2;
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: center;

      margin-left: -2rem;
      li {
        list-style: none;
        padding-right: 1rem;
        a:hover {
          color: $color1;
        }
        a {
          text-decoration: none;
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}
